body {
    font-family: 'Libre Baskerville', serif;
font-family: 'Raleway', sans-serif;
background-color: darkgray;
}

.trip-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    height: 100%;
}

.trip-plan {
    height: inherit;
    max-height: 500;
    max-width: 300;
   padding-bottom: 10px;
    margin: 20px;
  border-left: 8px solid black;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
    border-radius: 5%;
    background-color: gainsboro;
    text-align: center;
}

img {
    width: 300px;
    margin-bottom: 10px;
    border-radius: 3%;
}

.trip-title {
    margin-bottom: 5px;
    color: black;
    font-weight: bolder;
    font-size: larger;
}

.trip-price {
    margin-bottom: 5px;
    font-size: medium;
    font-weight: bold;
}

button {
    margin-top: 5px;
    padding: 3px 10px;
    border-radius: 2%;
    font-size: large;
    background-color: none;
    border: 2px solid black;
}

@media only screen and (max-width: 1500px)
{ .trip-container {flex-direction: column;
    height: 100%;

}
    
}
